/node_modules
/public/assets
/public/frontend
/public/hot
/public/storage
/storage/*.key
/storage/*
storage/*
storage/
/storage
/storage/.logs
/storage/*.log
/storage/logs/laravel.log
/storage/.logs
/storage/*.log
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vendor.zip
*.log
.idea
storage/logs/laravel.log
/nbproject/private/
composer.lock
/public/assets/img
.idea/workspace.xml
composer.lock
vendor/*
bootstrap/*
bootstrap/app.php
.idea/workspace.xml
storage/logs/laravel.log
.env
/.env
