html{
	font-size: 62.5%;i
}
*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
.row{
	margin:0px;
	padding:0px;
}
body{
	background: var(--darkblack);
	font-family: 'gilory';
}
:root{
	--orange:#EF9514;
	--blue:#13C4A1;
	--peacock:#202836;
	--darkblack:#181E2A;
	--navy:#293348;
}
@font-face{
	font-family: 'gilory';
	src:url('../fonts/Gilroy-Light.otf');
}
@font-face{
	font-family: 'gilory-bold';
	src:url('../fonts/Gilroy-ExtraBold.otf');
}
@font-face{
	font-family: 'raleway';
	src:url('../fonts/Raleway-Light.ttf');
}
.headingone{
	color:var(--navy);
}
.hero-section{
	width:100%;
	background: url(../images/herobg.png);
	background-size:cover;
	background-position: top;
	background-repeat: no-repeat;
	padding-bottom:0rem;


}
.container-fluid{
	margin:0px;padding:0px;
}

.navbar{
	height: 5.6rem;
	margin-top:2.8rem;
}
.navbar.sticky_navigation {
	background: var(--peacock);
	height: 7.5rem;
}
.sticky_navigation {
	margin-top:0rem;  
	width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.sticky_navigation .navbar {
	margin-top: 0px!important;
}
.mto0{
	margin-top:0px!important;
}

@-webkit-keyframes fadeInDown {
  0%{
    opacity: 0;
    -webkit-transform: translateY(-20px);
   }
    100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    }
}       
@keyframes fadeInDown {
  0%{
  opacity: 0;
  transform: translateY(-20px);
  }
  100%{
  opacity: 1;
  transform: translateY(0);
  }
 }
.mainlogo{
  	margin-right:5rem;
}      
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
body{
	overflow-x: hidden!important;
}
.navbar-nav li{
 	padding:0rem 1.3rem;
}
.navbar-nav li a{
 	font-size:1.4rem;
 	color:white;
 	text-transform: uppercase;
}
.navbar-nav li a:hover{
	color:var(--orange);
}
.downangle{
 	padding-left:.2rem;
}
.dropdown-menu a{
 	color:var(--darkblack)!important;
}
.dropdown-menu a:hover{
	color:var(--orange)!important;
}
.top-btns{
	width:12.0rem;
	height: 5.6rem;
	display: inline-block;
	/*margin-top:1.8rem;*/
	text-align: center;
	line-height: 5.6rem;
	border-radius: 5px;
	color:white;
	font-size:1.4rem;
	font-family: 'gilory';
	font-weight: 600;
}
.blue-btn{
	background:#030C1B;
}
.blue-btn:hover{
	background:white;
	color:black;
	text-decoration: none;
}
.loginbtn{
	margin-left:2.4rem;
	color:white;
	font-family: 'gilory';
	font-weight: 600;
	border:1px solid white;
}
.loginbtn:hover{
	background:var(--blue);
	color:white;
	text-decoration: none;
}
.navbar-toggler i{
	color:white;
	font-size:2rem;
}
.fa-times{
	display: none;
}
.navbar-toggler:focus{
	outline:none;
}


/*hero part */
.main-hero{
	width:100%;
	height: 109.7rem;
	display: flex;
	align-items: center;
}
.heroo-sect{
	/*max-width: 1320px;
	margin:0 auto;*/

	max-width: 135rem;
	margin:0 auto;

}


.hero-left-content{
	width:100%;
	z-index: 999;
	height:50rem;

}
.hero-heading{
	font-size:6rem;
	line-height: 7.1rem;
	font-family: 'gilory';
	color:white;
	font-weight: 600;
}
.hero-p{
	font-size:1.8rem;
	line-height: 2.6rem;
	color:white;
	margin:2rem 0rem;
}
.colorchange{
	background: -webkit-linear-gradient( #13C4A1, #EF9514, #57C4FD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.heroleft{
	z-index: 1;
}

.button-divs{
	width:460px;
	display: grid;
	margin:0 auto;
	grid-template-columns: 1fr 1fr;
	margin-top:6.4rem;
}

.button-divs a{
	font-size:18px;
	color:white;
	line-height:54px;
}
.button-divs a:hover{
	color:var(--peacock);
	text-decoration: none;
}
.or{
	font-size: 1.8rem;
	color:#fdfdfd;
	line-height: 54px;

}
.explore-btn{
	width:152px;
	height: 52px;
	line-height: 52px;
	background: white;
	display: block;
	text-align: center;
	/*padding:1.4rem 3.3rem;*/
	
	display: block;
	color:var(--blue)!important;
	}
.explore-btn:hover{
	color:white;
	background:var(--peacock);
	text-decoration: none;
}
.main-image-section{
	top:-42rem;
	position: relative;
	bottom:-42rem;
	height:29rem;
}
.lin{
	line-height:31.2rem;

	position: absolute;
}
.payp{
	font-size:1.6rem;
	display: block;
	top:-1.6rem;
	left:6.3rem;
	position: absolute;
	color:white;
	line-height:3.2rem;
}
.gen-p{
	color:white;
	font-size:1.7rem;
}
.py-50{
	margin:5rem 0rem;
}
.py110{
	padding:9rem 0rem;
}
.bluebg{
	background: var(--blue);
	color:white!important;
}
.bluebg:hover{
	background: var(--orange);
}
.bradius{
	border-radius:1rem;
}
.paybelink a:hover{
	color:var(--orange);
}
.apps-icons{
	display:grid;
	grid-template-columns:1fr 1fr;
	width:65%;
	margin-top:4.5rem;
}
.mt-82{
	margin-top:8.2rem;
}

ul.acceptcard li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2.5em;
    padding-left:4.5rem;
}

ul.acceptcard li:after {
    /* bullets */
    content: url('../images/ll.png');
    position: absolute;
    left:0px; /*adjust manually*/
    top: 10px;
    right:20px;
    margin-right:20px;
}

ul.acceptcard li:before {
    /* lines */
    content:"";
    position: absolute;
    height: 100%;
    width: 1px;
}
.acceptcard li b{
	font-size:2.4rem;
	color:white;
}

.newsletter-section{
	padding:14rem 0rem;
	padding-top: 14rem;
	height: auto;
	padding-bottom: 8rem;
	background: url(../images/newsletter-bg.png);
}

.testimonial{
    padding: 0 15px;
    text-align: center;
    margin:20px;
    background: white;
    border-radius:20px;
    margin-top:100px;
    padding-bottom:2rem;
}
.testimonial .pic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 25px;
    overflow: hidden;
    margin-top:-50px;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    padding: 0 15px;
    font-size: 13px;
    color: #808080;
    line-height: 26px;
}
.testimonial .testimonial-title{
    font-size: 2.6rem;
    letter-spacing: 1px;
    font-family: 'gilory-bold';
    font-weight: 800;
    color: #222222;
    text-transform: uppercase;
    position: relative;
}
.testimonial .testimonial-title:after{
    content: "\f10d";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    display: inline-block;
    width: 100%;
    font-size: 40px;
    color:var(--orange);
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    background: #f3904d;
    margin: 5px 7px;
    opacity: 0.5;
}


.subscribe-text{
	font-size:3.3rem;
	/*line-height: 4.1rem;*/
	color:white;
	margin:0rem;
	padding:0rem;
	font-weight: 600;
}
.orange-text{
	color:var(--orange);
}
.thisinpugrou{
	background: white!important;
	font-size:2rem;
	border-top-left-radius: 10rem;
	border-bottom-left-radius: 10rem;
	padding:0px 1.5rem!important;
	text-align: center!important;
	border-right:none;
}
.forformm form input{
	height:8.4rem;
	width:100%;
	background: white; 
	line-height:8.4rem!important;
	border-left: none;
	font-size:1.8rem;
	margin-right:-5.0rem;
	border-top-right-radius: 10rem!important;
	border-bottom-right-radius: 10rem!important;
	
}

.subscribtnn{
	background: var(--orange);
	color:white;
	font-size:2rem;
	height:7.0rem;
	width:19rem;
	/*margin-left:20px;*/
	margin-top:.7rem;
	border:none;
	border-radius: 10rem!important;
	text-align: center!important;
	display: inline-block;
	line-height:6rem;
	z-index: 1;
}
.subscribtnn:hover{
	background: var(--blue);
	cursor: pointer;
}
.forformm form input::placeholder{
	color:black;
	font-size:1.6rem;
	padding-top: 1rem;
	line-height:8.4rem;
}
.forformm form input:focus{
	z-index: 1!important;
	background: white!important;
}

.py120{
	padding:12rem 0rem;
	padding-bottom:5rem;
}
.sub-footer-main-heading{
	font-size:2.4rem;
	font-weight: 600;
	color:white;
}
.fotmargin{
	margin-top:2rem;
}
.fotmargin2{
	margin-top:2.7rem;
}
.fotlinks li{
	list-style: none;
	line-height:3rem;

}
.fotlinks li a{
	font-size:1.6rem;
	color:white;
}

.fotlinks li a:hover{
	color:var(--orange);
	text-decoration: none;
}



.social-icons ul{
	padding-left:0px;
}

.social-icons ul li{
	list-style: none;
	display: inline-block;

}
.footer-logo-side{

}
.social-icons ul li img{

  transition: transform .7s ease-in-out;
}
.social-icons ul li img:hover{
	
  transform: rotate(360deg);
}

footer{
	background: var(--navy);
	color:white;
	text-align: center;
	padding:2.5rem 0rem;
	font-size:1.6rem;
}