html{
	font-size: 62.5%;i
}
*{
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
.row{
	margin:0px;
	padding:0px;
}
body{
	background: var(--darkblack);
	font-family: 'gilory';
}
:root{
	--orange:#EF9514;
	--blue:#13C4A1;
	--peacock:#202836;
	--darkblack:#181E2A;
	--navy:#293348;
}
@font-face{
	font-family: 'gilory';
	src:url('../Gilroy-Light.woff');
}
@font-face{
	font-family: 'gilory-bold';
	src:url('../Gilroy-Bold.woff');
}
@font-face{
	font-family: 'raleway';
	src:url('../raleway-light.woff');
}
.headingone{
	color:var(--navy);
}
.hero-section{
	width:100%;
	min-height: 1400px;
	background: url(../images/main-hero-2.png);
	background-size:cover;
	background-position: top;
	background-repeat: no-repeat;
	padding-bottom:0rem;


}
.container-fluid{
	margin:0px;padding:0px;
}

.navbar{
	height: 5.6rem;
	margin-top:2.8rem;
}
.navbar.sticky_navigation {
	background: var(--peacock);
	height: 7.5rem;
}
.sticky_navigation {
	margin-top:0rem;  
	width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.sticky_navigation .navbar {
	margin-top: 0px!important;
}
.mto0{
	margin-top:0px!important;
}

@-webkit-keyframes fadeInDown {
  0%{
    opacity: 0;
    -webkit-transform: translateY(-20px);
   }
    100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    }
}       
@keyframes fadeInDown {
  0%{
  opacity: 0;
  transform: translateY(-20px);
  }
  100%{
  opacity: 1;
  transform: translateY(0);
  }
 }
.mainlogo{
  	margin-right:5rem;
}      
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
body{
	overflow-x: hidden!important;
}
.navbar-nav li{
 	padding:0rem 1.3rem;
}
.navbar-nav li a{
 	font-size:1.4rem;
 	color:white;
 	text-transform: uppercase;
}
.navbar-nav li a:hover{
	color:var(--orange);
}
.downangle{
 	padding-left:.2rem;
}
.dropdown-menu a{
 	color:var(--darkblack)!important;
}
.dropdown-menu a:hover{
	color:var(--orange)!important;
}
.top-btns{
	width:12.0rem;
	height: 5.6rem;
	display: inline-block;
	/*margin-top:1.8rem;*/
	text-align: center;
	line-height: 5.6rem;
	border-radius: 5px;
	color:white;
	font-size:1.4rem;
	font-family: 'gilory';
	font-weight: 600;
}
.blue-btn{
	background:var(--blue);
}
.blue-btn:hover{
	background:white;
	color:black;
	text-decoration: none;
}
.loginbtn{
	margin-left:2.4rem;
	color:white;
	font-family: 'gilory';
	font-weight: 600;
	border:1px solid white;
}
.loginbtn:hover{
	background:var(--blue);
	color:white;
	text-decoration: none;
}
.navbar-toggler i{
	color:white;
	font-size:2rem;
}
.fa-times{
	display: none;
}
.navbar-toggler:focus{
	outline:none;
}


/*hero part */
.main-hero{
	width:100%;
	height:83rem;
}
.heroo-sect{
	/*max-width: 1320px;
	margin:0 auto;*/

	max-width: 135rem;
	margin:0 auto;

}
.hero-right{
	
	height:83rem;
	background:url(../images/hero-image.png);
	
}

.hero-left-content{
	width:100%;
	margin-left:13.5%;
	z-index: 999;

}
.hero-heading{
	font-size:6rem;
	line-height: 7.1rem;
	font-family: 'gilory';
	color:white;
	font-weight: 600;
}
.hero-p{
	font-size:1.8rem;
	line-height: 2.6rem;
	color:white;
	margin:2rem 0rem;
}
.heroleft{
	z-index: 1;
}
.search-box{
	height:auto;
	background: #181E2A;
	border: 1px solid rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
	box-shadow: 0px 4px 50px rgba(120, 168, 196, 0.05);
	border-radius: 20px;
	padding:1.8rem .5rem 1.8rem 2.8rem;
	box-sizing: border-box;
	margin-top: 4.5rem;
	z-index:9999!important;
}
.search-box label{
	color:white;
	font-size:2rem;
	margin-bottom:1rem;
}

.search-box form input{
	background: transparent;
	border:none;
	font-size:1.6rem;
	color:white!important;	
}

.search-box .input-group-text{
	background: transparent;
	border:none;
	font-size:1.8rem;
	padding-left:0rem;
}
.search-box form  input::placeholder{
	color:white;
	font-size:1.3rem;
	line-height: 2.5rem;
	font-family: 'raleway';
}
.searchicon{
	width:6.4rem;
	height: 6.4rem;
	background: var(--orange);
	color:white;
	text-align: center;
	font-size: 3rem;
	line-height: 6.4rem;
	border-radius: 1.5rem;
}
.searchicon:hover{
	cursor: pointer;
	background: var(--blue);
}
.search-box form .input-group input:focus{
	background: transparent;
	outline: none;
}
.logos-col{
	background: transparent;
	margin-top:9rem;
}

.py50{
	padding:5rem 0rem;
}
.whatwedosection{
}
.sub-heading-three{
	font-size:2.4rem;
	color:white;	
}
.pt50{
	padding-top:10rem;
}
.sub-heading-one{
	font-size:5rem;
	color:white;	
	font-weight: 600;
	margin:1.6rem 0rem;
}
.gen-p{
	font-size:1.6rem;
	color:white;
	line-height: 2rem;
}

.circles-section{
	width:100%;
	height: 378px;
	background: url(../images/circles.png);
	background-size: 100% 100%;
	margin-top:4.2rem;
	margin-bottom:50px;
}
.forcenter{
	display: flex;
	align-items: center;
	justify-content: center;
	height:40rem;
}

.gray-label{
	color:white;
	font-size:1.6rem;
}
.gray-title{
	color:white;
	font-size: 2.4rem;
	font-weight: 600;
	margin:1.1rem 0rem;
}
.thisp{
	max-width:200px;
	margin:0 auto;
}

.pl-n55{
	padding-left:-100px!important;
}

.popular-mentors{
	width:100%;
	clear: both;
	height: auto;
	background: url(../images/popular-mentors.png);
	padding:7.6rem 0rem;
	margin-top:35rem;
}

.forslider{
	margin-top:3rem;
}

/* the slides */
.slick-slide {
    margin: 0 1.0rem;
}
/* the parent */
.slick-list {
    margin: 0 -1.0rem;
}

.even-slide{
	margin-top:6.2rem;
}
.mentor-name{
	display: block;
	font-size:2.4rem;
	font-weight: 600;
	line-height: 3rem;
	color:white;
	margin-top:2.4rem;
	margin-bottom:.4rem;
}
.left-location i{
	font-size:1.4rem;
	color:white;
	line-height:2rem;
	padding-right:1rem;
}
.location-text{
	font-size:1.4rem;
	color:white;
	line-height:2rem;
}
.staricon{
	font-size:1.4rem;
	color:var(--orange);
	line-height:2rem;
	padding-right:.5rem;
}
.rating-text{
	font-size:1.4rem;
	color:white;
	line-height:2rem;
}

.learning-paths{
	width:100%;
	height: auto;
	background: var(--darkblack);
}
.py-120{
	padding:12rem 0rem;
}
.forgrid{
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	grid-gap:3rem;
	margin-top: 6rem!important;
}
.card-type{
	border-radius:15px;
	background: white;
	text-align: center;
	color:black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 208px;
	cursor: pointer;
}
.icones{
	display: block;
	margin:0 auto;
	width:auto;
	padding-bottom:2.5rem;
}
.icon-text{
	font-size:1.6rem;
	line-height: 3rem;
	color:black;
	font-weight: 600;
}
.thiscard{
	background: transparent;
}
.plustenlink:hover{
	text-decoration: none;
}
.plusten{
	display: block;
	font-size:5rem;
	font-weight: 600;
	line-height: 5.9rem;
	color:white;
}
.view-all{
	display: block;
	font-size:1.6rem;
	font-weight: 600;
	line-height: 3rem;
	color:var(--orange);
}

.blogandnews{
	padding-bottom:12rem;
}
.mt-60{
	margin-top:6rem;
}
.blogcard{
	background: white;
	border-radius: 2rem;
	padding:1rem;
}
.bloger-name{
	color:#353956;
	font-size: 1.8rem;
;
}
.blog-date{
	color:#353956;
	font-size:1.6rem;
	line-height: 2.6rem;
}
.blog-title, .blog-link{
	font-weight: 600;
font-size: 2.2rem;
line-height: 2.9rem;
margin:0px;
padding:0px;
margin-top: 2.0rem;
color: #353956;
}
.blog-desc{
	margin-top:1.4rem;
	font-size:1.6rem;
	line-height: 1.9rem;
	color:#353956;
}
.view-all-btn{
	width:16rem;
	height: 6rem;
	color:#030C1B;
	background: white;
	display: block;
	margin:0 auto;
	margin-top:6rem;
	line-height:6rem;
	border-radius: 1.5rem;
	border:none;
	font-weight: 600;
	font-size:1.8rem;
}

.view-all-btn:hover{
	background:var(--orange);
	/*color:white;*/
	color:black;
	text-decoration: none;
}
.newsletter-section{
	padding:14rem 0rem;
	padding-top: 14rem;
	height: auto;
	padding-bottom: 8rem;
	background: url(../images/newsletter-bg.png);
}
.subscribe-text{
	font-size:3.3rem;
	/*line-height: 4.1rem;*/
	color:white;
	margin:0rem;
	padding:0rem;
	font-weight: 600;
}
.orange-text{
	color:var(--orange);
}
.thisinpugrou{
	background: white!important;
	font-size:2rem;
	border-top-left-radius: 10rem;
	border-bottom-left-radius: 10rem;
	padding:0px 1.5rem!important;
	text-align: center!important;
	border-right:none;
}
.forformm form input{
	height:8.4rem;
	width:100%;
	background: white; 
	line-height:8.4rem!important;
	border-left: none;
	font-size:1.8rem;
	margin-right:-5.0rem;
	border-top-right-radius: 10rem!important;
	border-bottom-right-radius: 10rem!important;
	
}

.subscribtnn{
	background: var(--orange);
	color:white;
	font-size:2rem;
	height:7.0rem;
	width:19rem;
	/*margin-left:20px;*/
	margin-top:.7rem;
	border:none;
	border-radius: 10rem!important;
	text-align: center!important;
	display: inline-block;
	line-height:6rem;
	z-index: 1;
}
.subscribtnn:hover{
	background: var(--blue);
	cursor: pointer;
}
.forformm form input::placeholder{
	color:black;
	font-size:1.6rem;
	padding-top: 1rem;
	line-height:8.4rem;
}
.forformm form input:focus{
	z-index: 1!important;
	background: white!important;
}

.py120{
	padding:12rem 0rem;
	padding-bottom:5rem;
}
.sub-footer-main-heading{
	font-size:2.4rem;
	font-weight: 600;
	color:white;
}
.fotmargin{
	margin-top:2rem;
}
.fotmargin2{
	margin-top:2.7rem;
}
.fotlinks li{
	list-style: none;
	line-height:3rem;

}
.fotlinks li a{
	font-size:1.6rem;
	color:white;
}

.fotlinks li a:hover{
	color:var(--orange);
	text-decoration: none;
}



.social-icons ul{
	padding-left:0px;
}

.social-icons ul li{
	list-style: none;
	display: inline-block;

}
.footer-logo-side{

}
.social-icons ul li img{

  transition: transform .7s ease-in-out;
}
.social-icons ul li img:hover{
	
  transform: rotate(360deg);
}

footer{
	background: var(--navy);
	color:white;
	text-align: center;
	padding:2.5rem 0rem;
	font-size:1.6rem;
}